
/* Custom Styles
================================================== */

body {
  background: $body-bg;
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: $base-font-size;
  font-weight: $body-font-weight;
  font-style: $body-font-style;
  line-height: $base-line-height;
  overflow-x: hidden;
}

ul, li, ol {
  font-size: $base-font-size;
  list-style:none;
  line-height: $base-line-height;
  margin: 0;
  padding: 0;
}

/* render html5 elements as block */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, video {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}

/* #Video Container Styles
================================================== */

.video-container {
  width:100%;
  float:left;
  position: relative;
  padding-bottom:67.8%;
  height: 0;
  overflow: hidden;
  background: #000;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}


/*  Custom animations
/*-------------------------------------------------- */
@-webkit-keyframes
reveal {
 0% {
 opacity: 0;
}
 1% {
 opacity: 0;
 -webkit-transform: scale(0.98) translateY(-15px);
}
 80% {
 -webkit-transform: scale(1);
}
 100% {
 -webkit-transform: translateY(0);
}
}
 @-moz-keyframes
reveal {
 0% {
 opacity: 0;
}
 1% {
 opacity: 0;
 -moz-transform: scale(0.98) translateY(-15px);
}
 80% {
 -moz-transform: scale(1);
}
 100% {
 -moz-transform: translateY(0);
}

}


/* #Heading Type Styles
================================================== */

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-regular;
  line-height: $base-line-height - .2;
  color: $dark-grey-1;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 0 0 10px 0;
  padding: 0;

  small {
    font-size: $small-font-size;
    color: scale-color($dark-grey-1, $lightness: 55%);
    line-height: 0;
  }
}

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

@media #{$large-only} {
  h1,h2,h3,h4,h5,h6 { line-height: $base-line-height - .1; }
  h1 { font-size: $h1-font-size - $h1-font-reduction-ip; }
  h2 { font-size: $h2-font-size - $h2-font-reduction-ip; }
  h3 { font-size: $h3-font-size - $h3-font-reduction-ip; }
  h4 { font-size: $h4-font-size - $h4-font-reduction-ip; }
  h5 { font-size: $h5-font-size - $h5-font-reduction-ip; }
  h6 { font-size: $h6-font-size - $h6-font-reduction-ip; }
}

@media #{$medium-down} {
  h1,h2,h3,h4,h5,h6 { line-height: $base-line-height - .1; }
  h1 { font-size: $h1-font-size - $h1-font-reduction; }
  h2 { font-size: $h2-font-size - $h2-font-reduction; }
  h3 { font-size: $h3-font-size - $h3-font-reduction; }
  h4 { font-size: $h4-font-size - $h4-font-reduction; }
  h5 { font-size: $h5-font-size - $h5-font-reduction; }
  h6 { font-size: $h6-font-size - $h6-font-reduction; }
}

@media #{$small-only} {
  h1,h2,h3,h4,h5,h6 { line-height: $base-line-height - .1; }
  h1 { font-size: $h1-font-size - $h1-font-reduction-m; }
  h2 { font-size: $h2-font-size - $h2-font-reduction-m; }
  h3 { font-size: $h3-font-size - $h3-font-reduction-m; }
  h4 { font-size: $h4-font-size - $h4-font-reduction-m; }
  h5 { font-size: $h5-font-size - $h5-font-reduction-m; }
  h6 { font-size: $h6-font-size - $h6-font-reduction-m; }
}

p {
  font-family: $font-family-regular;
  font-weight: normal;
  font-style: normal;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0 0 20px 0;
  padding: 0;

  @media #{$small-only} {
    margin-bottom: 20px;
  }
}

strong, b {
  font-weight: normal;
  line-height: inherit;
}

a {
  color: $anchor-font-color;
  text-decoration: $anchor-text-decoration;
  line-height: inherit;

  &:hover,
  &:focus {
    color: $anchor-font-color-hover;
    @if $anchor-text-decoration-hover-underline != $anchor-text-decoration {
      text-decoration: $anchor-text-decoration-hover-underline;
    }
  }
}


/* #Input Styles
================================================== */

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	-webkit-appearance: none;
	background-color: none;
	box-shadow: none;
	display: block;
	margin: 0;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
	width:100%;
	height:40px;
	float:left;
	background:$dark-grey-1;
	border:none;
	font-family:$font-family-bold;
	font-size:$small-font-size;
    color: $white;
	padding:8px 15px;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
    position: relative;

}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
    background:$dark-grey-1;
	box-shadow: none;
	border:none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
	border:none;
	outline: none;
}

textarea.textarea {
	height:100px;
    color: $white;
}

input {
	color:$light-grey-1;
}

textarea {
	color:$light-grey-1
}

:placeholder {
	color:$light-grey-1;
	letter-spacing:normal;
}

.placeholder {
	color:$light-grey-1;
	letter-spacing:normal;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: $light-grey-1;
	letter-spacing:normal;
}

input::-moz-placeholder, textarea::-moz-placeholder {
	color: $light-grey-1;
	letter-spacing:normal;
}


/* #Button Styles
================================================== */

.btn {
  height: 36px;
  float: none;
  display: inline-block;
  background: none;
  border: none;
  font-size: $base-font-size - 1;
  font-family: $font-family-regular;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  line-height: 36px;
  cursor: pointer;
  @include border-radius(4px);
  @include lgradient(top, $blue-light-2, $blue-dark-3);
  @include box-shadow (0, 2px, 5px, $dark-grey-1);
  padding: 0 20px;
  margin: 0;
  position: relative;

  &:hover, &:active, &:focus {
    text-decoration:none;
    color: $white;
    @include lgradient(top, $blue-light-1, $blue-light-1);
  }

}


.btn-secondary {
  height: 36px;
  float: none;
  display: inline-block;
  background: none;
  border: 3px solid $light-grey-4;
  font-size: $base-font-size - 1;
  font-family: $font-family-regular;
  color: $dark-grey-3;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  cursor: pointer;
  @include border-radius(4px);
  padding: 0 20px;
  margin: 0;
  position: relative;

  &:hover, &:active, &:focus {
    text-decoration:none;
    color: $dark-grey-3;
    border-color: $light-grey-1;
  }

}


