
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rage_italic';
    src: url('../fonts/da1464f4-1a39-4322-898c-c092aca16ebb.eot');
    src: url('../fonts/da1464f4-1a39-4322-898c-c092aca16ebb.eot?#iefix') format('embedded-opentype'),
         url('../fonts/545ef4b0-79ac-49bd-9582-55e682e61cf9.woff') format('woff'),
         url('../fonts/48007d38-01d4-4101-a599-a95460b3ec12.ttf') format('truetype'),
         url('../fonts/8ed19055-4c65-4f9c-83dc-a14ece2c196d.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url("../fonts/opensans-extrabold-webfont.eot");
    src: url("../fonts/opensans-extrabold-webfont.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/opensans-extrabold-webfont.woff") format("woff"), 
        url("../fonts/opensans-extrabold-webfont.ttf") format("truetype"), 
        url("../fonts/opensans-extrabold-webfont.svg#open_sansextrabold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url("../fonts/opensans-semibolditalic-webfont.eot");
    src: url("../fonts/opensans-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/opensans-semibolditalic-webfont.woff") format("woff"), 
        url("../fonts/opensans-semibolditalic-webfont.ttf") format("truetype"), 
        url("../fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic") format("svg");
    font-weight: normal;
    font-style: normal;
}

