//Mixins

@mixin lgradient ($origin: top, $start: $white, $stop: $black) {
  background-color: $start;
  background-image: -webkit-linear-gradient($origin, $start, $stop);
  background-image: -moz-linear-gradient($origin, $start, $stop);
  background-image: -o-linear-gradient($origin, $start, $stop);
  background-image: -ms-linear-gradient($origin, $start, $stop);
  background-image: linear-gradient($origin, $start, $stop);
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
  -moz-box-shadow:$top $left $blur $color #{$inset};
  box-shadow:$top $left $blur $color #{$inset};
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


// Variables

$base-line-height : 1.4;
$base-font-size   : 18px;
$large-font-size  : 18px;
$small-font-size  : 14px;

$red			  : #ff0000;
$black		      : #000000;
$white		      : #ffffff;

$brand-primary    : #41413e;

$light-grey-1     : #ccccca;
$light-grey-2     : #dcdcdc;
$light-grey-3     : #d9d9d9;
$light-grey-4     : #e0e0e0;
$light-grey-5     : #e2e2e2;
$light-grey-6     : #f5f5f5;

$dark-grey-1      : #1d1d1b;
$dark-grey-2      : #2e3234;
$dark-grey-3      : #484848;
$dark-grey-4      : #737373;
$dark-grey-5      : #8e8e8e;
$dark-grey-6      : #626260;
$dark-grey-7      : #282b2d;
$dark-grey-8      : #949798;

$blue-light-1     : #0da6c2;
$blue-light-2     : #14b4d4;
$blue-light-3     : #a6e2f4;

$blue-dark-1      : #00718f;
$blue-dark-2      : #00849a;
$blue-dark-3      : #0e8ca5;
$blue-dark-4      : #0ea0bd;
$blue-dark-5      : #014b5e;

$orange-light-1   : #e18132;


$anchor-font-color: $brand-primary;
$anchor-font-color-hover: $blue-light-2;

$anchor-text-decoration-hover-underline: underline;

// We use these to define default font stacks
$font-family-regular: "open_sansregular", Arial, Helvetica, sans-serif;

// We use these to define default font weights
$font-family-bold: "open_sansbold", Arial, Helvetica, sans-serif;
$font-family-semibold: "open_sanssemibold", Arial, Helvetica, sans-serif;

// We use these to control various global styles
$body-bg: $dark-grey-2;
$body-font-color: $brand-primary;
$body-font-family: $font-family-regular;
$body-font-weight: normal;
$body-font-style: normal;


// We use these to control header font sizes
$h1-font-size: rem-calc(36);
$h2-font-size: rem-calc(36);
$h3-font-size: rem-calc(24);
$h4-font-size: rem-calc(19);
$h5-font-size: rem-calc(18);
$h6-font-size: rem-calc(16);

// We use these to control header size reduction on small screens
$h1-font-reduction-ip: rem-calc(4);
$h2-font-reduction-ip: rem-calc(4);
$h3-font-reduction-ip: rem-calc(2);
$h4-font-reduction-ip: rem-calc(1);
$h5-font-reduction-ip: 0;
$h6-font-reduction-ip: 0;

// We use these to control header size reduction on small screens
$h1-font-reduction: rem-calc(6);
$h2-font-reduction: rem-calc(6);
$h3-font-reduction: rem-calc(4);
$h4-font-reduction: rem-calc(1);
$h5-font-reduction: 0;
$h6-font-reduction: 0;

// We use these to control header size reduction on small screens
$h1-font-reduction-m: rem-calc(12);
$h2-font-reduction-m: rem-calc(12);
$h3-font-reduction-m: rem-calc(4);
$h4-font-reduction-m: rem-calc(2);
$h5-font-reduction-m: rem-calc(2);
$h6-font-reduction-m: rem-calc(1);

// Media Query Ranges
$small-range-sml: (0, 29.938em) ;
$small-range: (0, 47.938em) ;
$medium-range: (48.000em, 63.938em) ;
$large-range: (64.000em, 75.3125em) ;
$xlarge-range: (80.062em, 90.000em) ;
$xxlarge-range: (90.062em, 99999999em) ;


$small-up: $screen ;
$small-only-sml: "#{$screen} and (max-width: #{upper-bound($small-range-sml)})" ;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})" ;

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-down: "#{$screen} and (max-width:#{upper-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})" ;
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})" ;

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})" ;
$xlarge-down: "#{$screen} and (max-width:#{upper-bound($xlarge-range)})" ;
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})" ;

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})" ;
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})" ;
