@import "settings";
@import "foundation";
//@import url("font-awesome");
@import "typography";
@import "variables";
@import "base-custom";


/* #Site comman
================================================== */

/*
@media #{$large-only} {
.demo { padding: 30px 0;}
}

@media #{$medium-only} {
.demo { padding: 30px 0;}
}

@media #{$medium-down} {
.demo { padding: 30px 0;}
}

@media #{$small-only} {
.demo { padding: 30px 0;}
}

@media #{$small-only-sml} {
.demo { padding: 30px 0;}
}
*/


/*= #Flexslider
=======================================================*/

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  width:100%;
  float:left;
  margin: 0;
  padding: 0;

  .slides {
    width:100%;
    float:left;

    li {
      width:100%;
      float:left;
      display: none;
      position: relative;
    }

    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }

  }

}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

.no-js .slides > li:first-child {
  display: block;
}

.flex-direction-nav {
  *height: 0;
  width:100%;
  display: block;
  position:absolute;
  top:50%;
  left:0;
  margin:-70px 0 0 0;

  @media #{$large-only} {
    margin-top: -50px;
  }

  @media #{$medium-down} {
    margin-top: -50px;
  }

  a {
    width:90px;
    height:90px;
    margin:0;
    display: block;
    position: absolute;
    top:0;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 1;

    &.flex-prev {
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgba(153, 153, 153, .4);
      background-image: url(../images/arrow-left01.png);
      left:0;
    }

    &.flex-prev:hover {
      background-color: rgba(153, 153, 153, .8);
    }

    &.flex-next {
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgba(153, 153, 153, .4);
      background-image: url(../images/arrow-right01.png);
      right:0;
    }

    &.flex-next:hover {
      background-color: rgba(153, 153, 153, .8);
    }

    @media #{$large-only} {
      width: 50px;
      height: 50px;
    }

    @media #{$medium-down} {
      width: 50px;
      height: 50px;
    }

  }

  .flex-disabled {
    opacity:0!important;
    filter:alpha(opacity=30);
    cursor: default;
  }

}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1;
}

/* Control Nav */
.flex-control-nav {
  width: 100%;
  float: left;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  display: block;
  z-index: 50;
  padding: 0;
  margin: 0;
  display: none;

  li {
    width: auto;
    margin: 0 5px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    text-indent: -99999px;

    a {
      width: 8px;
      height: 8px;
      display: block;
      color: $light-grey-3;
      line-height: normal;
      overflow: hidden;
      background: $light-grey-3;
      border: none;
      @include border-radius(20px);
      position: relative;
      text-indent: -99999px;

      &.flex-active {
        background: $blue-light-1;
      }

    }

  }

  @media #{$small-only} {
    li {
      a {
        width: 14px;
        height: 14px;
      }

    }

  }

}


/* #Owl-carousel
=======================================================*/

.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
	margin:0;
}

.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
	float: left;
}

.owl-controls .owl-page, .owl-controls .owl-buttons div {
	cursor: pointer;
}

.owl-controls {
	width:100%;
	float:left;
	text-align:center;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin:0;
}

.owl-theme .owl-controls .owl-buttons div {
	display:none;
}

.owl-theme .owl-controls .owl-page{
	width: auto;
	float:none;
	display:block;
	margin:0;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span{
	display:none;
	width: 14px;
	height: 14px;
	background:#FFFFFF;
	border:2px solid #0e76bc;
	margin: 0 4px;
	padding:0;
	opacity: 1;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	text-indent:-9999px
}

.owl-theme .owl-controls .owl-page:hover span{
	background:#FFFFFF;
	color:#FFFFFF;
}

.owl-theme .owl-controls .owl-page.active span {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	background:#0e76bc;
	box-shadow:none;
	color:#FFFFFF;
}

.navigation {
  width:100%;
  float:left;

  a {
    width:90px;
    height:90px;
    margin:0;
    display: block;
    position: absolute;
    top:48%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 1;
    margin: -60px 0 0 0;

    &.previous {
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgba(153, 153, 153, .4);
      background-image: url(../images/arrow-left01.png);
      left:0;
    }

    &.next {
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgba(153, 153, 153, .4);
      background-image: url(../images/arrow-right01.png);
      right:0;
    }

    &:hover {
      background-color: rgba(153, 153, 153, .8);
    }

    @media #{$large-only} {
      width: 50px;
      height: 50px;
      top: 56%;
    }

    @media #{$medium-down} {
      width: 50px;
      height: 50px;
      top: 56%;
    }

  }

}



/* #Home
================================================== */

.container-main {
  width: 100%;
  float: left;
  background: $white;
  min-height: 1000px
}

.heading-txt {
  width: 100%;
  float: left;
  text-align: center;
  padding: 0 0 40px 0;

  h2 {
    margin: 0 0 7px 0;
  }

  p {
    font-size: $large-font-size;
    margin: 0;
  }

  @media #{$small-only} {
    padding-bottom: 30px;

    p {
      font-size: $large-font-size - 2;
    }

  }

}



/* #Content
================================================== */

.btn-contact {
  width: 45px;
  float: left;
  background: $blue-light-2;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  top: 250px;
  right: 0;
  z-index: 90;

  span {
    width: 100%;
    float: left;
    background: url(../images/img-icon03.png) no-repeat bottom center;
    padding-bottom: 35px;
  }

  @media #{$medium-down} {
    width: 25px;
    height: 25px;
    background: none;
    padding: 0;
    position: absolute;
    top: 34px;
    right: 140px;

    span {
      height: 100%;
      background-size: 17px auto;
      background: url(../images/img-icon04.png) no-repeat center center;
      padding-bottom: 0px;

      img {
        display: none;
      }

    }

  }


  @media #{$small-only} {
    top: 26px;
    right: 62px;
  }

}

.row-offcanvas {
  width: 100%;
  float: left;
  position: relative;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  transition: all .25s ease-out;

  &.row-offcanvas-right {
	right:0;

    .overlay {
      width: 100%;
      height: 100%;
      float: left;
      background: $dark-grey-2;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      display: none;
      opacity: 0.8;
    }

    .sidebar-offcanvas {
      right: -845px
    }

    &.active {
      right: 0;
      overflow: hidden;

      .sidebar-offcanvas {
        right: 0;
      }

      .overlay {
        display: block;
      }

    }

  }

  &.row-offcanvas-left {
    left: 0;

    .sidebar-offcanvas {
      left: -845px
    }

    &.active {
      left: 0;

      .sidebar-offcanvas {
        left: 0;
      }

    }

  }

  .sidebar-offcanvas {
  	position: fixed;
  	top: 0;
  	width: 845px;
  	height: 100%;
  	float: left;
  	overflow: auto;
    overflow-x: hidden;
  	-webkit-transition: all .25s ease-out;
  	-moz-transition: all .25s ease-out;
  	-o-transition: all .25s ease-out;
  	transition: all .25s ease-out;
  	padding: 0;
    z-index: 100;

    .btn-contact {
      position: absolute;
      left: 0;
      z-index: 102;
    }

    .contact-form {
      width: 800px;
      height: 100%;
      min-height: 100%;
      float: left;
      overflow: auto;
      background: $dark-grey-2;
      border-left: 3px solid $blue-light-2;
      padding: 0 55px 55px 55px;
      position: absolute;
      top: 0;
      right: 0;

      h2 {
        color: $white;

        a {
          color: $white;
        }

      }

      p {
        font-size: $large-font-size;
        color: $dark-grey-8;
        line-height: $base-line-height + .4;
        margin-bottom: 55px;

        span {
          color: $blue-light-2;

          a {
            color: $blue-light-2;
          }

        }

      }

      ul {
        width: 100%;
        float: left;

        li {
          width: 100%;
          float: left;
          padding-bottom: 25px;
        }

      }

      label {
        width: 100%;
        float: left;
        font-size: $small-font-size - 1;
        color: $white;
        font-family: $font-family-bold;
        text-transform: uppercase;
        cursor: default;
        padding-bottom: 14px;

        span {
          color: $blue-light-2;
        }

      }

      .input {
        height: 45px;
        background: $dark-grey-7;
        padding: 10px 15px;

        &:focus {
          background: $dark-grey-7;
        }

      }

      .textarea {
        height: 220px;
        background: $dark-grey-7;

        &:focus {
          background: $dark-grey-7;
        }

      }

      .btn {
        height: 40px;
        float: right;
        @include lgradient(top, $blue-light-2, $blue-dark-3);
        @include box-shadow (0, 3px, 5px, $dark-grey-1);
        border: none;
        @include border-radius(3px);
        line-height: 40px;
        padding: 0 20px;

        &:hover, &:active, &:focus {
          @include lgradient(top, $blue-light-2, $blue-light-2);
        }
      }

      .logo-icon {
        width: 100%;
        float: left;
        padding-bottom: 38px
      }

    }

  }

  @media #{$large-only} {
    &.row-offcanvas-right {

      .sidebar-offcanvas {
        right: -645px
      }

    }

    .sidebar-offcanvas {
      width: 645px;

      .contact-form {
        width: 600px;
        padding: 0 30px 30px 30px;

        p {
          margin-bottom: 30px;
        }

      }

    }

  }

  @media #{$medium-only} {
    &.row-offcanvas-right {

      .sidebar-offcanvas {
        right: -545px
      }

    }

    .sidebar-offcanvas {
      width: 545px;

      .btn-contact {
        width: 35px;
        height: 32px;
        background: $blue-light-2;

        span {
          background: url(../images/img-icon03.png) no-repeat center center;
          background-size: 22px auto;
          padding-bottom:0;
        }

      }

      .contact-form {
        width: 500px;
        padding: 0 25px 30px 25px;

        p {
          font-size: $base-font-size;
          line-height: $base-line-height - .2;
          margin-bottom: 30px;
        }

        .textarea {
          height: 150px;
        }

        .logo-icon {
          padding-bottom: 30px;
        }

      }

    }

  }

  @media #{$small-only} {
    &.row-offcanvas-right {

      .sidebar-offcanvas {
        right: -375px
      }

    }

    .sidebar-offcanvas {
      width: 375px;

      .btn-contact {
        width: 35px;
        height: 32px;
        background: $blue-light-2;

        span {
          background: url(../images/img-icon03.png) no-repeat center center;
          background-size: 22px auto;
          padding-bottom:0;
        }

      }

      .contact-form {
        width: 340px;
        padding: 0 15px 30px 15px;
        border-left-width:2px;

        p {
          font-size: $small-font-size;
          line-height: $base-line-height + .2;
          margin-bottom: 20px;
        }

        label {
          font-size: $small-font-size - 2;
          padding-bottom:12px;
        }

        .input {
          height: 37px;
          padding: 8px 10px
        }

        .textarea {
          height: 100px;
        }

        .logo-icon {
          padding-bottom: 20px;
        }

      }

    }

  }

  @media #{$small-only-sml} {
    &.row-offcanvas-right {

      .sidebar-offcanvas {
        right: -275px;
      }

    }

    .sidebar-offcanvas {
      width:275px;

      .contact-form {
        width: 240px
      }

    }

  }

}




/* #Header
================================================== */

.header-main {
  width: 100%;
  height: 137px;
  float: left;
  @include box-shadow (0px, 0px, 15px, $black);
  position: relative;
  z-index: 100;

  .large-12 {
    position: static;
  }

  .logo {
    width: 265px;
    float: left;
    margin: 25px -317px 0 0;
    position: relative;
    z-index: 10;
  }

  .nav-bar {
    width: 100%;
    float: right;
    padding: 46px 0 0 317px;
    position: relative;

    nav {
      width: 100%;
      float: right;

      ul {
        height: 91px;
        float: right;
        border-right:1px solid $light-grey-2;

        li {
          height: 100%;
          float: left;
          font-size: $small-font-size;
          font-family: $font-family-semibold;
          color: $dark-grey-4;
          border-left:1px solid $light-grey-2;

          a {
            height: 100%;
            float: left;
            color: $dark-grey-4;
            line-height: 91px;
            text-transform: uppercase;
            border-bottom: 4px solid transparent;
            padding: 0 16px;
            @media #{$medium-only} {
              .header-main .nav-bar nav ul li a{
                padding: 0 12px;
              }
            }

            &:hover, &.active {
              color: $blue-light-2;
              border-bottom-color: $blue-light-2;
              text-decoration: none;
            }

          }

        }

      }

    }

    .topbar {
      height: 46px;
      float: left;
      background:url(../images/bg01.png) no-repeat top left;
      padding: 0 3000px 0 52px;
      margin-right: -3000px;
      position: absolute;
      top:0;
      right:0;

      .call-us {
        float: left;
        font-size: $base-font-size + 1;
        font-family: $font-family-semibold;
        color: $white;
        background: url(../images/img-icon01.png) no-repeat left;
        text-transform: uppercase;
        line-height: 40px;
        padding: 1px 32px 0 36px;

        span {
          color: $blue-light-3;
          font-size: $base-font-size - 3;
        }

        a {
           color: $white;
        }

      }

      .email {
        float: left;
        font-size: $base-font-size - 4;
        font-family: $font-family-semibold;
        color: $white;
        text-transform: uppercase;
        line-height: 46px;

        span {
          background: url(../images/img-icon02.png) no-repeat left;
          padding: 4px 20px 3px 40px;
        }

      }

      .social-links {
        float: left;
        padding: 7px 0;

        li {
          float: left;

          a {
            width: 30px;
            height: 30px;
            float: left;
            background: url(../images/icon-linkedin01.png) no-repeat center center;
            text-indent: -99999px;
          }

        }

      }

    }

  }

  .menu-btn {
    float: right;
    display: none;
    margin:0;
    position: absolute;
    top: 34px;
    right: 20px;
    z-index:50;

    span {
      float: left;
      font-size: $large-font-size;
      font-family: $font-family-semibold;
      color: $blue-light-1;
    }

    .icon-bar-bg {
      width: 25px;
      float: left;
      margin: 2px 10px 0 0;

      .icon-bar {
        width: 100%;
        height: 3px;
        float: left;
        background: $blue-light-1;
        margin: 2px 0;
      }

    }

    &:hover, &.active {

      span {
        color: $blue-light-1;
      }

      .icon-bar-bg {

        .icon-bar {
          background: $blue-light-1;
        }

      }

    }

  }


  @media #{$large-only} {
    height: 107px;

    .logo {
      width: 217px;
      margin: 24px -217px 0 0;
    }

    .nav-bar {

      nav {

        ul {
          height:61px;

          li {

            a {
              line-height: 61px;
            }

          }

        }

      }

    }

  }

  @media #{$medium-down} {
    height: auto;
    padding:20px 0;
    position: static;

    .logo {
      width: 187px;
      margin: 0 -187px 0 0;
    }

    .nav-bar {
      position:static;
      padding:0;

      nav {
        width:100%;
        float: left;

        ul {
          width: 100%;
          height: auto;
          float: left;
          border:none;

          li {
            width: 100%;
            height: auto;
            border-left: none;
            border-bottom: 1px solid $blue-light-3;
            padding:0;

            a {
              width: 100%;
              color: $white;
              border: none;
              line-height: normal;
              padding: 7px 16px;

              &:hover, &.active {
                color: $blue-light-3;
                border: none;
              }

            }

          }

        }

      }

      .topbar {
        width:100%;
        height:auto;
        background:none;
        position: static;
        margin: 0;
        padding: 0;

        .call-us {
          width: 100%;
          background-position: 16px 7px;
          background-size: 20px auto;
          border-bottom: 1px solid $blue-light-3;
          font-size: $base-font-size - 1;
          line-height:normal;
          padding: 7px 16px 7px 42px;

          span {
            display: none;
          }

        }

        .email {
          width: 100%;
          font-size: $base-font-size - 6;
          line-height:normal;
          padding: 11px 16px;

          span {
            background-size: 20px auto;
            padding: 2px 0 2px 30px;
          }

        }

        .social-links {
          width: 100%;
          padding: 0;
          border-top: 1px solid $blue-light-3;
          padding:0 10px;
        }
      }

    }

    .menu-btn {
      display: block;
    }

  }


  @media #{$small-only} {
    padding:15px 0;

    .logo {
      width: 167px;
      margin: 0 -167px 0 0;
    }

    .menu-btn {
      display: block;
      top:26px;

      .icon-bar-bg {
        margin-right:2px;
      }

      .txt {
        display: none;
      }
    }

  }


  .right-off-canvas-menu {
	-webkit-backface-visibility: visible;
	width:100%;
	height:auto;
	min-height:inherit;
	position:static;
	overflow:visible;
	background:none;
	z-index: 5;
	-ms-transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	position:static;
  }

  .right-off-canvas-menu * {
    -webkit-backface-visibility: visible;
  }

  @media #{$medium-down} {
    .right-off-canvas-menu {
      width: 250px;
      background: $blue-light-1;
      -webkit-backface-visibility: hidden;
      position: absolute;
      overflow-x: hidden;
      overflow-y: auto;
      -ms-transform: translate(100%, 0);
      -webkit-transform: translate3d(100%, 0, 0);
      -moz-transform: translate3d(100%, 0, 0);
      -ms-transform: translate3d(100%, 0, 0);
      -o-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      z-index: 130
    }

    .right-off-canvas-menu * {
      -webkit-backface-visibility: hidden;
    }

  }

}



/* #Banner Main
================================================== */

.banner-main {
  width: 100%;
  float: left;
  position: relative;

  figure {
    width: 100%;
    float: left;
    text-align: center;
    overflow: hidden;

    img {
      width: 100%;
      min-width: 1600px;
      margin: 0 -800px;
    }

    @media #{$small-only} {
      img {
        min-width: 1300px;
        margin: 0 -650px;
      }

    }

  }

  .banner-info-bg {
    width: 100%;
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: url(../images/curve03.png) no-repeat bottom center;
    padding-bottom: 19px;

    @media #{$large-only} {
      background: none;
      padding: 0;
    }

    @media #{$medium-down} {
      background: none;
      padding: 0;
    }

  }

  .banner-info {
    width: 100%;
    float: left;

    .txt-bg {
      width: 100%;
      float: left;
      position: relative;
    }

    aside {
      width: 348.5%;
      float: left;
      background: url(../images/curve01.png) no-repeat top right;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding: 24px 130px 24px 300%;
      margin: 0 0 0 -300%;

      h2 {
        font-family: $font-family-semibold;
        font-size: $h1-font-size - rem-calc(6);
        color: $white;
        text-transform: uppercase;
        padding: 0;
      }

      p {
        font-family: $font-family-semibold;
        font-size: $large-font-size - 1;
        color: $white;
        padding: 0;
        margin: 0;
      }

    }

    .curve-bg {
      width: 56.5%;
      height: 75px;
      float: right;
      font-size: $large-font-size + 6;
      font-family: $font-family-semibold;
      color: $white;
      line-height: 64px;
      text-decoration: none;
      text-transform: uppercase;
      background: url(../images/curve02.png) no-repeat top right;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding: 0 0 0 70px;
      margin: 20px 0 0 0;
      position: absolute;
      bottom: 0;
      right: 0;

      &:hover {
        opacity: .9;
      }

    }

    @media #{$large-only} {
      aside {
        width: 348.5%;
        background: $blue-light-2;
        border-radius: 0 9px 0 0;
        padding-right: 20px;

        h2 {
          font-size: $h1-font-size - rem-calc(10);
        }

        p {
          font-size: $large-font-size - 2;
        }

      }

      .curve-bg {
        width: 248.5%;
        height: 57px;
        font-size: $large-font-size;
        line-height: 57px;
        background: $blue-dark-1;
        border-radius: 9px 0 0 0;
        margin: 0 -200% 0 0;
        padding-right: 200%;
      }

    }


    @media #{$medium-down} {
      .row {
        max-width: 100%;
        padding: 0;

        .columns {
          padding: 0;
        }

      }

      aside {
        width: 100%;
        background: $blue-light-2;
        padding: 25px 20px;
        margin: 0;

        h2 {
          font-size: $h1-font-size - rem-calc(13);
        }

        p {
          font-size: $large-font-size - 2;
        }

      }

      .curve-bg {
        width: 100%;
        height: auto;
        float: left;
        font-size: $large-font-size;
        line-height: normal;
        text-align: center;
        background: $blue-dark-1;
        padding: 10px 20px;
        margin: 0;
        position: static;
      }

    }


    @media #{$small-only} {
      padding-bottom: 36px;

      aside {
        h2 {
          font-size: $h1-font-size - rem-calc(15);
        }

        p {
          font-size: $large-font-size - 3;
        }

      }

      .curve-bg {
        font-size: $large-font-size - 3;
      }

    }

  }

  @media #{$small-only} {
    .flex-direction-nav {
      display: none;
    }

    .flex-control-nav {
      height: 36px;
      display: block;
      background: $light-grey-6;
      padding: 8px 0;
    }

  }

}


/* #Section-1
================================================== */

.section-1 {
  width: 100%;
  float: left;
  padding: 41px 0 60px 0;

  @media #{$large-only} {
    padding: 60px 0;
  }

  @media #{$medium-down} {
    padding: 60px 0;
  }

  @media #{$small-only} {
    padding: 40px 0;
  }

}

.product-list {
  width: 107.4%;
  float: left;
  text-align: center;
  margin: 0 -3.7% -1.3% -3.7%;

  article {
    width: 22%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    margin: 0 .65% 1.3% .65%;

    figure {
      width: 100%;
      float: left;
      @include border-radius(5px);
      overflow: hidden;

      img {
        width: 100%;
        @include border-radius(5px);
      }

    }

    aside {
      width: 100%;
      height: 100%;
      float: left;
      background: url(../images/trans01.png) no-repeat bottom center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      -webkit-transition: all .4s ease;
      -moz-transition: all .4s ease;
      -o-transition: all .4s ease;
      transition: all .4s ease;
      @include border-radius(5px);
      position: absolute;
      top: 0;
      left: 0;

      .cont {
        width: 100%;
        float: left;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 30px 25px;


        h3 {
          color: $white;
          font-family: $font-family-bold;
          font-size: $h3-font-size - rem-calc(5);
          font-weight: normal;
          text-transform: uppercase;
          text-shadow: 1px 1px 3px #101010;
          letter-spacing: 1px;
          margin: 0 0 15px 0;
          -webkit-transition: all .4s ease;
          -moz-transition: all .4s ease;
          -o-transition: all .4s ease;
          transition: all .4s ease;
        }

      }

    }

    &:hover {
      aside {
        background: url(../images/trans001.png) no-repeat bottom center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;

        .cont {
          h3 {
            padding-bottom: 10px;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
          }

        }

      }

    }

  }

  @media #{$medium-down} {
    width: 104.5%;
    margin: 0 0 2.5% -1%;

    article {
      width: 29.5%;
      margin: 0 2.5% 2.5% 0;

      aside {
        .cont{
          h3 {
            font-size: $h3-font-size - rem-calc(6);
          }

        }

      }

    }

  }

  @media #{$small-only} {
    width: 103%;
    margin: 0 0 -3% 0;

    article {
      width: 46%;
      margin: 0 3% 3% 0;

      aside {
        .cont{
          h3 {
            font-size: $h3-font-size - rem-calc(8);
          }

        }

      }

    }

  }

  @media #{$small-only-sml} {
    width: 100%;
    margin: 0 0 -20px 0;

    article {
      width: 100%;
      margin: 0 0 20px 0;

      aside {
        .cont{
          h3 {
            font-size: $h3-font-size - rem-calc(6);
          }

        }

      }

    }

  }

}


/* #Section-2
================================================== */

.section-2 {
  width: 100%;
  float: left;
  background: $light-grey-6;
  border-top: 1px solid $light-grey-4;
  padding: 65px 0;

  @media #{$medium-down} {
    padding: 50px 0 40px 0;
  }

  @media #{$small-only} {
    padding: 40px 0 30px 0;
  }

}

.partners-list {
  width: 100%;
  float: left;
  position: relative;
  padding: 0 90px;

  @media #{$medium-down} {
    padding: 0 40px;
  }

  article {
    width: 100%;
    float: left;
    text-align: center;
    padding: 0 10px;

    figure {
      width: 100%;
      height: 98px;
      float: left;
      line-height: 98px;
      margin: 0 0 25px 0;
    }

    .btn-secondary {
      padding: 0 14px;
    }

  }

}


/* #Section-3
================================================== */

.section-3 {
  width: 100%;
  float: left;
  border-bottom: 1px solid $light-grey-4;
  padding: 50px 0;
}

.panel-list {
  width: 103%;
  float: left;
  text-align: center;
  position: relative;
  margin: 0 0 -40px -1.5%;

  @media #{$small-only} {
    width: 110%;
    margin: 0 0 -40px -5%;
  }

  article {
    width: 24%;
    min-width: 270px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0 10px 40px 10px;

    figure {
      width: 100%;
      float: left;
      margin: 0 0 25px 0;
    }

    aside {
      width: 100%;
      display: inline-block;

      h3 {
        font-size: $h3-font-size - rem-calc(6);
        font-family: $font-family-bold;
        color: $blue-dark-2;
        text-transform: uppercase;
        padding: 0;

        span {
          color: $blue-light-1;
        }

      }

      p {
        max-width: 220px;
        display: inline-block;
        font-size: $base-font-size - 1;
      }

      .btn-secondary {
        font-size: $base-font-size - 3;
        padding: 0 20px;
      }

    }

    @media #{$large-only} {
      min-width: 250px;

      aside {
        h3 {
          font-size: $h3-font-size - rem-calc(8);
        }

      }

    }

    @media #{$small-only} {
      width: 49%;
      min-width: 220px;

      aside {
        h3 {
          font-size: $h3-font-size - rem-calc(8);
        }

      }

    }

    @media #{$small-only-sml} {
      min-width: 250px;
    }

  }

}



/* #Section-4
================================================== */

.section-4 {
  width: 100%;
  float: left;
  border-bottom: 1px solid $light-grey-4;
  padding: 50px 0;

  @media #{$small-only} {
    padding: 40px 0;
  }

  .product-list {
    width: 104.4%;
    margin: 0 0 -2% -2.2%;

    article {
      width: 30.33%;
      margin: 0 1% 2% 1%;

      aside {
        .cont {
          h3 {
            font-size: $h3-font-size;
            margin-bottom: 22px;
          }

        }

      }

    }


    @media #{$medium-down} {
      article {
        aside {
          .cont {
            h3 {
              font-size: $h3-font-size - rem-calc(6);
              margin-bottom: 18px;
            }

          }

        }

      }

    }


    @media #{$small-only} {
      width: 100%;
      margin: 0 0 -30px 0;

      article {
        width: 100%;
        margin: 0 0 30px 0;

        aside {
          .cont {
            h3 {
              font-size: $h3-font-size - rem-calc(4);
            }

          }

        }

      }

    }

  }

}



/* #Section-5
================================================== */

.section-5 {
  width: 100%;
  float: left;
  text-align: center;
  border-bottom: 1px solid $light-grey-4;
  position: relative;
  padding: 65px 0;
  padding-top: 0;
  .columns {
    position: static;
  }

  @media #{$medium-down} {
    padding: 50px 0;
  }

  @media #{$small-only} {
    padding: 40px 0;
  }

}

.testimonials {
  width: 100%;
  float: left;
  position: relative;
  padding: 0 90px 60px 90px;

  p {
    font-size: $base-font-size + 6;
    line-height: $base-line-height + .1em;
    margin: 0 0 30px 0;
  }

  .cl-name {
    width: 100%;
    float: left;
    color: $dark-grey-1;
    font-family: $font-family-bold;
    font-size: $large-font-size;
    line-height: $base-line-height - .3em;
    margin: 0 0 6px 0;
  }

  .cl-desi {
    width: 100%;
    float: left;
    color: $dark-grey-6;
    font-size: $base-font-size - 3;
    line-height: $base-line-height - .3em;
    margin: 0;
  }

  figure {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 30px;

    img {
      width: 100px;
      height: 100px;
      border-radius: 100px;
    }

  }

  aside {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .flex-control-nav {
    display: block;
  }

  @media #{$medium-down} {
    padding: 0 40px 50px 40px;

    p {
      font-size: $base-font-size;
    }

    figure {
      margin-bottom: 20px;
    }

  }

}



/* #Section-6
================================================== */

.section-6 {
  width: 100%;
  float: left;
  text-align: center;
  position: relative;
  padding: 0 90px;

  figure {
    width: 100%;
    height: 225px;
    float: left;
    text-align: center;
    line-height: 245px;
  }

  .navigation {
    a {
      margin: -37px 0 0 0;
    }

  }

  @media #{$medium-down} {
    padding: 0 40px;
  }

  @media #{$small-only} {
    figure {
      height: 190px;
      line-height: 210px;
    }

  }

}




/* #Footer
================================================== */

.footer-main {
  width: 100%;
  float: left;
  background: $dark-grey-2;
  padding:70px 0 40px 0;
  position: relative;

  .large-12 {
    position: static;
  }

  h5 {
    color: $white;
    font-family: $font-family-semibold;
    text-transform:uppercase;
    margin-bottom:25px;

    a {
      color: $white;
    }

  }


  article {
    width: 17%;
    float: left;
    padding-bottom:62px;

    ul {
      width: 100%;
      float: left;
      padding:0 30px 0 0;

      li {
        width: 100%;
        float: left;
        font-size: $small-font-size;
        font-family: $font-family-semibold;
        line-height: $base-line-height - .2;
        padding-bottom:10px;

        a {
          color: $light-grey-1;

          &:hover {
            color: $blue-light-2;
          }

        }

      }

      &.social-links {
        li {

          a {
            background: url(../images/icon-blog01.png) no-repeat 0 2px;
            padding-left: 24px;

            &.linkedin {
              background: url(../images/icon-linkedin02.png) no-repeat 0 2px;
            }

          }

        }

      }

    }

  }

  .form-block {
    width: 41.63%;
    float: right;

    p {
      color: $light-grey-1;
      font-size: $small-font-size;
      font-family: $font-family-semibold;

      a {
        color: $light-grey-1;

        &:hover {
          color: $blue-light-2;
        }

      }

    }

    .input-bg {
      width: 40.20%;
      float: left;
      padding: 0 13px 0 0
    }

    .btn {
      width: 19.6%;
      height: 40px;
      float: right;
      @include lgradient(top, $blue-light-2, $blue-dark-3);
      @include border-radius(0);
      border: none;
      line-height: 40px;
      padding:0 17px;

      &:hover, &:active, &:focus {
        @include lgradient(top, $blue-light-2, $blue-light-2);
      }
    }

  }

  .footer-info {
    width: 100%;
    float: left;

    aside {
      float: left;

      p {
        font-size: $small-font-size;
        color: $dark-grey-5;
        line-height: $base-line-height - .2;
        margin-bottom: 0;

        a {
          color:$dark-grey-5;

          &:hover {
            color: $blue-light-2;
          }

        }

        span {
          color:$light-grey-1;

          a {
            color: $light-grey-1;
            &:hover {
              color: $blue-light-2;
            }

          }

        }

      }

    }

    .right {
      color: $light-grey-1;
      font-size: $small-font-size;
      font-family: $font-family-semibold;

      a {
        color: $light-grey-1;
        margin-right: 15px;

        &:hover {
          color: $blue-light-2;
        }

      }

    }

  }

  .arrowtop {
    width: 90px;
    height: 90px;
    float: left;
    background: $dark-grey-1;
    font-family: $font-family-semibold;
    font-size: $small-font-size;
    color: $light-grey-1;
    text-align: center;
    position: absolute;
    bottom: 39px;
    right: 40px;
    padding:27px 0 0 0;

    span {
      width: 100%;
      float: left;
      background: url(../images/icon-arrow01.png) no-repeat top center;
      padding: 19px 0 0 0;
    }

    &:hover {
      background: $blue-dark-2;
    }

  }

  @media #{$xlarge-only} {
    .arrowtop {
      width: 65px;
      height: 65px;
      right: 35px;
      padding:16px 0 0 0;

      span {
        padding-top: 16px;
      }

    }

  }


  @media #{$large-only} {
    padding-bottom:50px;

    .form-block {
      width: 45%;
    }

    .arrowtop {
      width: 65px;
      height: 65px;
      right: 35px;
      padding:16px 0 0 0;

      span {
        padding-top: 16px;
      }

    }

  }

  @media #{$medium-only} {
    padding:50px 0;

    article {
      width: 20%;
      padding-bottom:42px;
    }

    .form-block {
      width: 40%;
      padding-bottom:40px;

      .input-bg {
        width: 50%;
        padding: 0 7px 20px 0;

        &.last-child {
          padding: 0 0 20px 7px;
        }

      }

      .btn {
        width: auto;
      }

    }

    .arrowtop {
      width: 65px;
      height: 65px;
      right: 35px;
      padding:16px 0 0 0;

      span {
        padding-top: 16px;
      }

    }

  }

  @media #{$small-only} {
    padding:35px 0 0 0;

    h5 {
      margin-bottom: 18px;
    }

    article {
      width: 37.5%;
      float: none;
      display: inline-block;
      padding: 0 10px 30px 0;
      margin:0 -3px;

      &:last-child {
        width: 22.5%;
        padding-right: 0;
      }

      ul {
        padding-right: 0;
      }

    }

    .article-out {
      width: 100%;
      float: left;
    }

    .form-block {
      width: 100%;
      padding-bottom:35px;

      .input-bg {
        width: 50%;
        padding: 0 7px 15px 0;

        &.last-child {
          padding: 0 0 15px 7px
        }

      }

      .btn {
        width: auto;
      }

    }

    .footer-info {

      aside {
        width: 100%;

        p {
          text-align: center;
          line-height: $base-line-height - .1;
          margin-bottom: 20px;
        }

      }

      .right {
        width: 100%;
        float: left;
        text-align: center;

        a {
          margin:0 6px;

        }

      }

    }

    .arrowtop {
      width: 37px;
      height: 37px;
      right: 25px;
      padding:0;

      span {
        height: 100%;
        background-position: center center;
        padding-top:0;
        text-indent: -999999px;
      }

    }

  }

  @media #{$small-only-sml} {
    padding-bottom:35px;

    article {
      width: 50%;
      padding: 0 0 30px 0;
      margin:0 -2px;

      &:last-child {
        width: 100%;
        margin: 0;

      }

    }

    .form-block {

      .input-bg {
        width: 100%;
        padding: 0 0 15px 0;

        &.last-child {
          padding-left:0
        }

      }

    }

  }

}



/* #Inner Pages
=================================================*/

.medium-3 {
  margin-bottom: 35px;
}

.medium-4 {
  margin-bottom: 35px;
}

.medium-6 {
  margin-bottom: 35px;
}

@media #{$medium-only} {
  .medium-3 {
    width: 50%;
  }

}

@media #{$small-only} {
  .medium-3 {
    width: 50%;
  }

  .medium-4 {
    width: 100%;
  }

  .medium-6 {
    width: 100%;
  }

}

@media #{$small-only-sml} {
  .medium-3 {
    width: 100%;
  }

}



/* #Banner-inner
================================================= */

.banner-innerout {
  width: 100%;
  float: left;
  background:$blue-light-2 url(../images/trans03.png) no-repeat bottom center;

  .banner-inner {
    width: 100%;
    float: left;
    background: url(../images/trans02.png) no-repeat top center;
    padding: 58px 0 23px 0;
        ul, li, ol {
        font-size: 15px;
        list-style: none;
        list-style-position: inside;
        color: white;
        line-height: 1.4;
        margin: 0;
        padding: 0;
        padding-bottom: rem-calc(10px);
        color: #00718f;
        font-family: open_sansbold;
        a{
          color: #00718f;
          &:hover {
            color: #00718f;
            text-decoration: underline;
          }
        }
    } 
  }

  figure {
    width: 100%;
    float: left;
    @include border-radius(4px);
    position: relative;

    img {
      width: 100%;
      @include border-radius(4px);
      position: relative;
    }

  }

  aside {
    width: 100%;
    float: left;
    margin-top:-3px;

    h2 {
      font-family: $font-family-semibold;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: $base-line-height - .2;

      a {
        color: $white;
      }

    }

    p {
      font-size: $base-font-size + 1;
      color: $white;

      a {
        color: $white;
      }

    }

    .txt {
      font-family: $font-family-bold;
      color: $blue-dark-1;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    .btn-out-alt {
      width: 100%;
      float: left;
      background: $blue-dark-1;
      @include border-radius(4px);
      position: relative;
      padding: 25px;
      margin-top: 15px;

    }

    .btn-out {
      width: 100%;
      float: left;
      background: $blue-dark-1;
      @include border-radius(4px);
      position: relative;
      padding: 25px;
      margin-top: 15px;

      .btn {
        height: 45px;
        float:left;
        @include lgradient(top, $blue-light-2, $blue-dark-4);
        @include box-shadow (0, 2px, 3px, $blue-dark-5);
        @include border-radius(3px);
        position: relative;
        font-family: $font-family-semibold;
        line-height: 45px;
        padding:0 18px;
        margin-right: 10px;

        span {
          background: url(../images/img-icon05.png) no-repeat left;
          padding-left: 20px
        }

        &:hover, &:active, &:focus {
          @include lgradient(top, $blue-light-2, $blue-light-2);
          text-decoration: none;
        }

        &:last-child {


          span {
            background: url(../images/img-icon06.png) no-repeat left;
          }

        }

      }
      .right.trigger-overlay-download{
        span {
            background: url(../images/img-icon06.png) no-repeat left;
          }
      }

    }

  }


  @media #{$large-only} {
    .banner-inner {
      padding: 38px 0 3px 0;
    }

    aside {
      p {
        font-size: $base-font-size;
      }

      .btn-out {
        padding: 20px;
        margin-top: 3px;

        .btn {
          font-size: $small-font-size - 2;
          padding:0 12px;

        }

      }

    }

  }

  @media #{$medium-only} {
    .banner-inner {
      padding: 38px 0 3px 0;
    }

    figure {
      text-align: center;
      margin: 0 0 20px 0;
    }

    aside {
      h2 {
        font-size: $h2-font-size - rem-calc(10);
      }

      p {
        font-size: $base-font-size + 1;
      }

      .btn-out {
        text-align: center;
        padding: 25px 20px 10px 20px;

        .btn {
          height: 40px;
          float: none;
          display: inline-block;
          font-size: $base-font-size - 4;
          line-height: 40px;
          padding: 0 18px;
          margin: 0 5% 15px 5%;

          &:last-child {
            float: none;
            display: inline-block;
          }

        }

      }

    }

  }

  @media #{$small-only} {
    .banner-inner {
      padding: 38px 0 3px 0;
    }

    figure {
      margin: 0 0 20px 0;
    }

    aside {
      h2 {
        font-size: $h2-font-size - rem-calc(16);
      }

      p {
        font-size: $base-font-size;
      }

      .txt {
        font-size: $base-font-size - 2;
      }


      .btn-out {
        text-align: center;
        padding: 25px 20px 10px 20px;

        .btn {
          height: 40px;
          float: none;
          display: inline-block;
          font-size: $base-font-size - 4;
          line-height: 40px;
          padding: 0 18px;
          margin: 0 5% 15px 5%;

          &:last-child {
            float: none;
            display: inline-block;
          }

        }

      }

    }

  }

  @media #{$small-only-sml} {
    aside {
      .btn-out {
        .btn {
          margin: 0 2% 15px 2%;
        }

      }

    }

  }

}



/* Section-two-cols
================================================= */

.section-col {
  width: 100%;
  float: left;
  border-bottom: 1px solid $light-grey-4;
  padding:70px 0 35px 0;

  @media #{$medium-only} {
    padding:60px 0 25px 0;
  }

  @media #{$small-only} {
    padding:40px 0 10px 0;
  }

}


.article-cols {
  width: 100%;
  float: left;

  article {
    width: 100%;
    float: left;

    h2 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 33px;

      span {
        font-size: $large-font-size;
      }

      &:last-child {
        margin-bottom: 0;
      }

    }

    figure {
      width: 100%;
      float: left;
      @include border-radius(4px);
      margin-bottom: 30px;

      img {
        width: 100%;
        @include border-radius(4px);
      }

    }

  }


  @media #{$medium-only} {
    article {
      h2 {
        line-height: 1.2em;
      }

      p {
        span {
          font-size: $large-font-size - 2;
        }
      }

    }

  }

  @media #{$small-only} {
    article {
      p {
        margin-bottom: 25px;

        span {
          font-size: $large-font-size - 3;
        }
      }

      figure {
        margin-bottom: 25px;
      }

    }

  }

}



/* Section-two-cols
================================================= */

.col-lv2 {
  background: $light-grey-6;

  .article-cols {
    article {
      h2 {
        margin-bottom: 30px;
      }
      p{
        font-size: $base-font-size ;
      }

      figure {
        margin: 0;
      }

    }

  }

}



/* #Section-7
================================================== */

.section-7 {
  width: 100%;
  float: left;
  background: $light-grey-6;
  padding: 50px 0 80px 0;

  @media #{$small-only} {
    padding: 40px 0 50px 0;
  }

}

.position-statement{
  font-family:'open_sansregular';
  width: 100%;
  background-color: rgba(255,255,255,255);
  padding: 10px 15px 5px 15px;

  overflow: break-all;

  padding-bottom: 1rem;
  padding-top: 1rem;
  h1{
line-height: 1.3em;
font-size: 1.7rem;
  text-align: left;
  color: $blue-dark-1;
  }

  p{
    padding-top: 0.5rem;
    color: $dark-grey-4;
    font-family: open_sanssemibold;
    text-align: left;
    margin-bottom: 0;
  }

@include box-shadow (0 ,8px, 6px, -6px, $dark-grey-1);

  @media #{$large-only} {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 2.5em;
  }
  @media #{$medium-only} {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 80%;
    font-size: 2.5em;
  }
  @media #{$small-only} {
    display: none;
  }
  &:hover{
    color: $black;
  }
}

.all-products-title{
  margin-top: 50px;
  margin-bottom: 0;
  text-transform: uppercase;
}


/* #Overlay
================================================== */

.overlay-new {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  padding:0;
  margin:0;
  z-index:1001;

  &.orange{
    background: rgba(225,129,50,0.95);
    h3{
      color: $black;
      font-size: 3em;
    }
    h4{
      margin-bottom: 5px;
      font-size: 2em;
    }
    p{
      a{
        font-size: 1em;
        letter-spacing: 2px;
        &:hover{
          color: $white;
        }
      }
    }
  }

  /* Menu style */
  nav {
    text-align: center;
    position: relative;
    top: 0;
    width:100%;
    float:left;

    ul {
      width: 100%;
      float: left;

      li {
        width: 100%;
        float: left;

        a {
          width: 100%;
          float: left;
          font-size: $large-font-size + 12;
          text-transform:uppercase;
          font-family:$font-family-regular;
          letter-spacing: 6px;
          padding: 9px 0;

          &:hover, &.active {
            color: $orange-light-1;
            text-decoration: none;
          }

        }

      }

    }

  }

  /* Overlay closing cross */
  .overlay-close {
    width: 116px;
    height: 35px;
    position: absolute;
    right: 45px;
    top: 45px;
    overflow: hidden;
    border: none;
    background:url(../images/icon-close01.png) no-repeat;
    text-indent: 200%;
    color: $white;
    outline: none;
    z-index: 100;
    cursor:pointer;
  }


  .form-block {
    width: 100%;
    max-width: 580px;
    display: inline-block;
    padding: 0 20px;


    &.product{
      overflow-y: scroll;
      height: 90%;

      max-width: 100%;
      .form-container{
        margin: 50px auto;
        max-width: 580px;
        p{
          color: $white;
        }
        li{

          input{
            margin-bottom: 10px;
            background-color: $white;
            color: $dark-grey-6;
          }
          input.btn{
            color: $white;
          }

          ::-webkit-input-placeholder {
            color: lighten($dark-grey-6, 20%);
          }

          :-moz-placeholder { /* Firefox 18- */
             color: lighten($dark-grey-6, 20%);
          }

          ::-moz-placeholder {  /* Firefox 19+ */
             color: lighten($dark-grey-6, 20%);
          }

          :-ms-input-placeholder {
             color: lighten($dark-grey-6, 20%);
          }

          textarea{
            background: $white;
            color: $dark-grey-6;
            height: 100px;
          }

        }
      }
    }

    @media #{$small-only} {
      max-width: 320px;
    }
    ul {
      width: 100%;
      float: left;

      li {
        width: 100%;
        float: left;
        padding: 10px 0;
      }

      .checkbox {
        width: 100%;
        text-align: left;
        input{
         display: inline-block;
         float: left;
        }
        label{
         display: inline-block;
         float: left;
         width: 85%;
         margin: 0 0 0 10px;
         padding: 0;
         position: relative;
         top: -3px;
         color: $white;
        }
      }

    }

    .btn {
      float: right;
    }

  }


  @media #{$medium-only} {
    nav {
      ul {
        li {
          a {
            font-size: $large-font-size + 6;
            letter-spacing: 4px;
          }

        }

      }

    }

  }

  @media #{$small-only} {
    nav {
      ul {
        li {
          a {
            font-size: $large-font-size;
            letter-spacing: 3px;
          }
        }
      }
    }

    .form-block {
      ul {
        li {
          padding-bottom: 15px;
        }

      }

    }

    .overlay-close {
      width: 80px;
      height: 24px;
      right: 20px;
      top: 20px;
      background-size: 80px 24px;
    }

  }

}


/* Effects */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;

  nav {
    -webkit-perspective: 1200px;
    perspective: 1200px;

    ul {
      opacity: 0.4;
      -webkit-transform: translateY(-25%) rotateX(35deg);
      transform: translateY(-25%) rotateX(35deg);
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s;
    }
  }

  .form-block {
    -webkit-perspective: 1200px;
    perspective: 1200px;

    ul {
      opacity: 0.4;
      -webkit-transform: translateY(-25%) rotateX(35deg);
      transform: translateY(-25%) rotateX(35deg);
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s;
    }
  }

  &.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;

    nav ul {
      opacity: 1;
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
    }

    .form-block ul {
      opacity: 1;
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
    }

  }

  &.close {
    nav ul {
      -webkit-transform: translateY(25%) rotateX(-35deg);
      transform: translateY(25%) rotateX(-35deg);
    }

    .form-block ul {
      -webkit-transform: translateY(25%) rotateX(-35deg);
      transform: translateY(25%) rotateX(-35deg);
    }

  }

}

#form-thank-you{
  p{
    font-size: 1.5em;
  }
  display: none;
}

#cookie-bar {
  background:#26B4D2;
  height:auto;
  line-height:24px;
  color:#eeeeee;
  text-align:center;
  padding:3px 0;
}

#cookie-bar.fixed {
  position:fixed;
  top:0;
  left:0;
  width:100%;
}
#cookie-bar.fixed.bottom {
  bottom:0;
  top:auto;
}
#cookie-bar p {
  margin:0;
  padding:0;
}
#cookie-bar a {
  color:#ffffff;
  display:inline-block;
  border-radius:3px;
  text-decoration:none;
  padding:0 6px;
  margin-left:8px;
}
#cookie-bar .cb-enable {
  background:#2E3234;
}
#cookie-bar .cb-enable:hover {
  background:#009900;
}
#cookie-bar .cb-disable {
  background:#990000;
}
#cookie-bar .cb-disable:hover {
  background:#bb0000;
}
#cookie-bar .cb-policy {
  background:#0033bb;
}
#cookie-bar .cb-policy:hover {
  background:#0055dd;
}
#cookie-bar.fixed.bottom {
    bottom: 0;
    top: auto;
}

div#form-contact-thank-you {
    display: none;
}
#subformh5 {
  color:#119EBA;
      text-transform: none;
}



/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* --------------------------------

Main components

-------------------------------- */



#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #DBDEE1;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 4em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: -14em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;

 h1.timeline-heading{
    color: #6CCFE2;
    span{
      color: #00849a;;
    }
    font-weight: bolder;
  font-size: 4em;
  text-transform:uppercase;
}

blockquote {
    margin: 0 0 1.25rem;
    padding: 0.5625rem 1.25rem 0 1.1875rem;
    border-left: none;
    line-height: 1.2;
    color: #76CDDE;
    font-size: 2em;
    font-style: italic;
}


}
  .cd-timeline-inner-content{
    blockquote, blockquote p {
    line-height: 1.6;
    color: #26B4D2;
    font-style: italic;
    font-size: 1.7rem;
}
  p{
    strong{
      font-weight: bolder;
      font-family:'open_sansbold';
    }
  }
  h2{
    font-weight: bolder;
    font-family:'open_sansbold';
    font-family: 1rem !important;
    color: #188497;
  }
}

.cd-timeline-content.header > h2 {
  font-size: 1.8rem;
    color: #75CEDE;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #00849a;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.cd-timeline-img {
    box-shadow: none;
}

.cd-timeline-top{
  background-color: #75CEDE;
width: 100%;
height: 48px;
}

.cd-timeline-bottom {
    background-color: #E0E3E8;
    width: 100%;
    height: 48px;
}
.cd-timeline-inner-content {
    border: 6px solid #E0E3E8;
    padding: 20px;
    img{
          width: 80%;
          display: block;
          margin-left: auto;
          margin-right: auto;
    }
    h1 {
    font-size: 1.8rem;
    color: #75CEDE;
}

}
.cd-timeline-img img {
    display: block;
    width: 49px;
    height: 45px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -12px;
  @media #{$small-only} {
      display: block;
width: 44px;
height: 41px;
margin-left: -21px;
    }
    @media #{$medium-only} {

    }
}

@media #{$small-only} {
  #cd-timeline {
      margin-top: 2em;
  }
  .cd-timeline-content h1.timeline-heading {
    font-size: 3em;
  }
  .cd-timeline-content blockquote {
    font-size: 1.5em;
  }
}


@media #{$medium-only} {
#cd-timeline {
    margin-top: 10em;
  }
  .cd-timeline-img img {
    width: 45px;
    height: 41px;
    margin-left: -21px;
  }
}
.banner-inner.bipersona-pages {
    padding: 25px 0 33px 0 !important;
}

.products.bipersona-pages{
  margin-top: 30%;
margin-bottom: 2%;
}


.timeline-start-top{
      position: relative;
    img{
        position: absolute;
        right: 50%;
        margin-right: -24.5px;
        bottom: -223px !important;
        width: 49px;
@media #{$medium-only} {
  display: none;}
  @media #{$small-only} {
    display: none;}
    }
}

.timeline-start-bottom{
      position: relative;
    img{
    position: absolute;
    right: 50%;
    margin-right: -24.5px;
    top: -71px;
    width: 49px;
@media #{$medium-only} {
  display: none;}
  @media #{$small-only} {
    display: none;}
    }

}


    $mq-xs: "#{$screen} and (max-device-width: 768px)";


.blog{
  .grid {
    margin-top: 9.5rem;
    @media #{$medium-only} {
        margin-top: 9.5rem;
       
    }
   @if $mq-xs {
    @media #{$mq-xs} { margin-top: 0.5rem; }
  }

}
.grid-item {
   width: 33%;
   @media #{$small-only} {
      width: 100%;
      &:first-child
      {
        margin-top: -3.5rem;
      }
    }
    padding: 10px;
}
.grid-item-content{
    border: 6px solid #E0E3E8;
    img{
      padding-left: 10px;
      padding-top: 10px;
      padding-right: 10px;
      width: 100%;
    }
.grid-item-content-inner{
  padding: 10px;
  p{
    color: #737373;
  }
  h1, h2, h3, h4, h5, h6 {
      color: #737373;
    }
    img.alignright {
      float:right;
      margin:0 0 1em 1em;
    }
  img.alignleft {
    float:left;
    margin:0 1em 1em 0;
  }
  img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  a img.alignright {
    float:right;
    margin:0 0 1em 1em;
  }
  a img.alignleft {
    float:left;
    margin:0 1em 1em 0;
  }
  a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  button {
  border: 1px solid #75CEDE;
  border-radius: 5px;
  background-color: transparent;
  color: #000;
  padding: 7px !important;
  margin: 0 !important;
  transition: 1s background-color ease;
  color: #737373;
  margin-bottom: 10px;
  &:hover{
    background-color: #75CEDE;
  }
}
}
ul, li, ol {
    font-size: 15px;
    list-style: disc;
    line-height: 1.4;
    margin: 0;
    padding: 0;
      color: #737373;
}
ul {
    margin-left: 1.1rem !important;
}
ol > li{
list-style:decimal;
  margin-left: 1.1rem !important;
}
  }
  .grid-item-content--bottom {
    background-color: #E0E3E8;
    padding: 10px;
}
.products.bipersona-pages {
    margin-top: 36%;
    margin-bottom: 2%;
}
.testimonials {
    width: 100%;
    float: left;
    position: relative;
    padding: 35px 90px 60px 90px;
}
.grid-single {
    margin-top: 10rem;
}
}

.about-us{
  .section-col {
    width: 100%;
    float: left;
    border-bottom: 1px solid #e0e0e0;
    padding: 57px 0 80px 0;
}
      img.hero-image{
        width:100%;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
      }
      .banner-inner{
        .row{
          .large-6.columns{
            @media #{$small-only} {
          margin-bottom: 1.2rem !important;
        }
          }
        }
      }
      .meet-the-team {
        @media #{$medium-only} {
          margin-bottom: 1.2rem !important;
        }
        }

      .article-cols {
        padding-top: 97px;
        padding-bottom: 30px;
        border-bottom: 1px solid #E0E0E0;
        h3{
              color: #f5b5d3;
        }
        h4{
              color: #f5b5d3;
        }
      &:first-child {
        padding-top: 40px;
      }
      &:last-child {
        padding-bottom: 2px;
        border-bottom: none;
      }
    }
    .col-lv2 {
        background: url(../images/trans02.png) no-repeat top center;
        background-size: cover;

    }

      .meet-the-team {
            padding: 20px;
            background-color: #00718F;
            border-bottom-right-radius:5px;
            border-bottom-left-radius:5px;
                padding-bottom: 17px;
    padding-top: 35px;

        p{
          margin: 0;
    display: inline-block;
    font-family: 'rage_italic';
        }
        button{
          height: 40px;
          float: right;
          @include lgradient(top, $blue-light-2, $blue-dark-3);
          @include box-shadow (0, 3px, 5px, $dark-grey-1);
          border: none;
          @include border-radius(3px);
          line-height: 40px;
          padding: 0 20px;
          margin-left: 2rem;
          &:hover, &:active, &:focus {
            @include lgradient(top, $blue-light-2, $blue-light-2);
          }
          }
        }
}



li.accordion-navigation {
    padding-bottom: 10px;
    & > a {
      font-weight: bolder;
        border-radius: 5px;
        text-decoration: none;
        span{
          font-weight: bolder;
          width: 100%;
          display: block;
        background:#EFEFEF url(../images/accordion.png) no-repeat center right;
            padding-right: 38px;
            text-align: justify;
      }
    }

}
li.accordion-navigation.active{
  & > a {
          font-weight: bolder;
        span{
          font-weight: bolder;
          background:#EFEFEF url(../images/accordion-active.png) no-repeat center right;
      }
}
}

div.content.active{
  .section-col.col-three .row .article-cols .medium-12.columns article li.accordion-navigation > a span{
  background:#EFEFEF url(../images/accordion-active.png) no-repeat center right;
}
}
.accordion .accordion-navigation > a:hover, .accordion dd > a:hover{
  background-color: #EFEFEF;
  text-decoration: none;
}

.your-sector{
  img{
        border-radius: 5px;
      }
  .section-col.col-three:nth-child(even){
    background-color: whitesmoke;

  }
  .banner-inner{
    ul, li, ol {
        font-size: 15px;
        list-style: none;
        list-style-position: inside;
        color: white;
        line-height: 1.4;
        margin: 0;
        padding: 0;
        padding-bottom: rem-calc(10px);
        color: #00718f;
        font-family: open_sansbold;
        a{
          color: #00718f;
          &:hover {
            color: #00718f;
            text-decoration: underline;
          }
        }
    }  
  }
  blockquote, blockquote p {
    line-height: 1.6;
    color: #26B4D2;
    font-style: italic;
}
blockquote {
    margin: 0 ;
    padding: 0 ;
    border-left: none;

}
strong, b {
    font-weight: bolder;
    line-height: inherit;
}
h3{
    color: #26B4D2 !important;
}
a{
    text-decoration: underline;
    font-weight: bolder;
}

article.your-sector-intro-image{
  img{
    width:100%;
    border-radius: 0;
  }
  background: #26B4D2;
  .content{
    padding: 25px;
    h2{
        color: #00718F;
    }
    h3{
      color: #fff !important;
      font-size: 1rem;
    }
    @media #{$small-only} {
    padding-right: 0;
    padding-left: 0;
    }
    .small-12.medium-7.large-8.columns {
      padding-bottom: 23px;
  }
  }
  .btn-out{

    float: right;
    background: #00718f;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    padding: 25px;
    margin-top: 15px;
        margin-bottom: 33px;
      @media #{$small-only} {
    width: 100%;
    background: transparent;
    padding: 0px;
    margin-top: 4px;
    margin-bottom: 20px;
    padding-left: 18px;
}
  }
}

.overlay-new{
      overflow-y: auto;
}

.form-container{
  background-color: #fff;
  .medium-12.columns.first {
        padding: 20px;
    background-color: #14CDE6;
    .modal_header_intro{
      padding-top: 20px;
          h2{
      font-size: 1.9rem !important;
    color: #00718F !important;

    }
    h3{
      font-size: 1.1rem !important;
      color: #fff !important;
    }
    }
}


.medium-12.columns.second{
  padding: 40px;
      a{
        color: #00718F;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
    }
    p{
      color: #737373;
    }
    h1{
      color: #14CDE6;
      font-size:1.1rem + 0.2;
    }
    h2{
      color: #737373;
      font-size: 1.15rem;
    font-weight: bold;
    }
    blockquote, blockquote p{
          color: #26B4D2;
          font-weight: bold;
    }
}

}
}

.statment-content{
  position: absolute;
  max-width: 400px;
  top: 7%;
  right: 18%;
  padding-left: 1rem;
  padding-right: 1rem;
  .statment-content-icons{
    background-color: rgba(255,255,255,0.8);
    img{
          width: initial;
          width: 100%;
          min-width: 0;
          margin: 0 ;
      @media #{$small-only} {
      display: none;
    }

    }
  }
}

.languages-pages{
.service-image{
  position: relative;
  width: 100%;
}
  .languages-header{
    position: absolute;
  }

.banner-innerout .banner-inner {
    width: 100%;
    float: left;
    background: #fff;
    padding: 58px 0 23px 0;
.medium-6.columns.languages-header{
  position: absolute;
  top: 30px;
@media #{$small-only} {
  top: 8px;
    left: -1px;
    font-size: 3rem - 2;
  }
  h1{
    color: #fff;
    font-family: 'open_sansbold';
    font-size: 3rem;
    @media #{$small-only} {
font-size: 3rem - 1.5;
   }
   @media #{$medium-only} {
font-size: 3rem - 1;
   }
  }

  h2{
    color: #fff;
    font-weight: bolder;
    @media #{$small-only} {
font-size: 3rem - 2;
   }
   @media #{$medium-only} {
font-size: 3rem - 2;
   }
  }
  p{
    color: #fff;
    @media #{$small-only} {
font-size: 0.7rem;
   }
   @media #{$medium-only} {
font-size: 0.7rem;
   }
  }
}
}
.medium-12.columns.beneath-hero {
    background-color: #26B4D2;
    -webkit-box-shadow: 0px 2px 35px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 35px -6px rgba(0,0,0,0.75);
box-shadow: 0px 2px 35px -6px rgba(0,0,0,0.75);
    padding-top: 15px;
        padding-bottom: 15px;
    h2{
      color: $white;
          padding-top: 18px;
          @media #{$small-only} {
font-size: 0.8rem;
padding-top: 2px;
   }
    }

}
.section-col {
    background-color: #f5f5f5;
    margin-top: -23px;
.article-cols {
  img{
    width: 100%;
  }
  h2 {
    color: #00718F;
    text-align: left;
    font-size: 1.9rem;

}

padding-left: 18%;
    padding-right: 18%;

   @media #{$medium-only} {
padding-left: 5%;
    padding-right: 5%;
   }
   @media #{$small-only} {
padding-left: 5%;
    padding-right: 5%;
   }
}
}
}

/* inapppropriate import of the .scss file to include files created by Shankar */

@import "app-copy";

.section-col {
    strong{
      font-family: 'open_sanssemibold';
    }
    padding: 70px 0 69px 0;
    &:nth-child(even) {
        background-color: #f5f5f5;
    }
    article.services div.columns > h2{
      margin-bottom: 20px !important;
    }
    article.services div.columns > p {
    margin-bottom: 20px !important;
}
}

@media #{$large-up}
{
.banner-txt article .cont-txt {
  width: 380px;
    position: absolute;
    top: -220px;
    right: 200px;
}
}
@media #{$medium-only} {
.banner-txt article .cont-txt {
  width: 380px;
    position: absolute;
    top: -220px;
    right: 200px;
}
}

@media #{$small-only} {
.banner-txt article .cont-txt {
  width: 380px;
    position: absolute;
    top: -250px;
    right: 10px;
}
}

section.your-sector.conditions{
  h3{
    color: $white !important;
    text-decoration: none;
    &.hover{
      margin-left: -30px;
    }
  }
  h3 > a{
    color: $white;
    text-decoration: none;
    &.hover{
      text-decoration: underline;
    }
  }
}

.your-sector .section-col:nth-child(even) {
    background-color: whitesmoke;
}

.section-5.grey-bg{
  background: transparent;
  border:1px solid #e0e0e0;
}


/* Your Support Page*/
.content.support{
      .small-12.medium-12.large-12.columns{
        padding-right: 0;
        padding-left: 0;
        & > p{
        font-size:rem-calc(18);
        padding: 40px 0;
      }
      }
    }

article .support-header {
      padding-bottom: rem-calc(30);
      @media #{$medium-only} {
          padding-top: rem-calc(30);
          padding-bottom: rem-calc(20);
      }
      @media #{$small-only} {
          padding-top: rem-calc(30);
          padding-bottom: rem-calc(20);
      }
}

.overlay-new .form-block.product.customer-service .form-container li input {
    margin-bottom: 10px;
    background-color: #DCDCDC;
    color: #626260;
}

.overlay-new .form-block.product.customer-service .form-container li textarea {
    margin-bottom: 10px;
    background-color: whitesmoke;
    color: #626260;
}
.overlay-new .form-block.product.customer-service .form-container li input[type="submit"] {
    color: $white;
}
.your-sector .form-container .medium-12.columns.second.customer-service {
    padding: 40px;
    background-color: $white;
    overflow-y: scroll;
}
#form-thank-customer-service-you {
  display: none;
}

.overlay-new .form-block.product.technical-support .form-container li input {
    margin-bottom: 10px;
    background-color: #DCDCDC;
    color: #626260;
}

.overlay-new .form-block.product.technical-support .form-container li textarea {
    margin-bottom: 10px;
    background-color: whitesmoke;
    color: #626260;
}
.overlay-new .form-block.product.technical-support .form-container li input[type="submit"] {
    color: $white;
}
.your-sector .form-container .medium-12.columns.second.technical-support {
    padding: 40px;
    background-color: #fff;
}
#form-thank-customer-service-you {
  display: none;
}

.your-sector .form-container .medium-12.columns.second.technical-support {
    padding: 40px;
    background-color: #fff;
}
#form-thank-technical-support-you {
  display: none;
}

.overlay-new .form-block.product.technical-support .form-container li input {
    margin-bottom: 10px;
    background-color: #DCDCDC;
    color: #626260;
}

.overlay-new .form-block.product.technical-support .form-container li textarea {
    margin-bottom: 10px;
    background-color: whitesmoke;
    color: #626260;
}
.overlay-new .form-block.product.technical-support .form-container li input[type="submit"] {
    color: $white;
}
.your-sector .form-container .medium-12.columns.second.technical-support {
    padding: 40px;
    background-color: #fff;
}
#form-thank-technical-support-you {
  display: none;
}
.form-block.product.customer-service{
  ul.large-block-grid-2 li > p{
  display: inline-block;
  }
}

.header-main .nav-bar .topbar {
    margin-right: -2912px;
}

.flags {
    float: left;
    /* align-content: center; */
    padding-top: 11px;
    margin-left: 6px;
}

.flags > a {
    padding-right: 5px;
}

.header-main .logo {
    width: 293px;
    float: left;
    margin: 25px -317px 0 0;
    position: relative;
    z-index: 10;
}

.form-container.group-image-shot {
    max-width: 900px !important;
}
@media #{$small-only}  {
  .header-main .nav-bar .topbar {
    margin-right: 0;
}
 }
 @media #{$medium-only}  {
  .header-main .nav-bar .topbar {
    margin-right: 0;
}
 }

.form-container .medium-12.columns.first.product-download-repeater {
    padding: 20px;
    background-color: #14CDE6;
    h2{
      color: $white;
    }
}


.form-container .medium-12.columns.second.product-download-repeater {
    padding: 40px;
    background-color: $white;
    overflow-y: scroll;
}


div.section-col.about-us {
    img{
      border-radius: 5px;
    }
    &:nth-child(odd){
    background-color: whitesmoke;
  }
  &:first-child{
    border-top: 1px solid #e0e0e0;
  }
}

@media #{$small-only} {
.your-sector.testimonial{
    .small-12.medium-4.large-2.large-push-10.columns {
        display: none;
    }
    .small-12.medium-4.large-2.columns.first{
      display: none;
    }
  }
}
.your-sector.case-study {
  .section-col:nth-child(even) {
    text-align: center;
    strong{
      color: #14CDE6;
    }
  }
  .section-col:nth-child(odd) {
    text-align: center;
    strong{
      color: #14CDE6;
    }
  }
}

.section-5.grey-bg.case-study{
        width: 100%;
        float: left;
        background-repeat: no-repeat;
        background: url(../images/trans02.png);
        background-size: cover;
        padding: 58px 0 23px 0;
        color: $white;
    p.txt {
        font-family: "open_sansbold", Arial, Helvetica, sans-serif;
        color: #00718f;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    h2 {
        font-family: "open_sanssemibold", Arial, Helvetica, sans-serif;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1.2;
    }
}

.section-4.grey {
    background-color: whitesmoke;
    border-top: 1px solid #e0e0e0;
}

.section-col.col-three.grey{
  background-color: whitesmoke;
    border-bottom: 1px solid #e0e0e0;
    .medium-6.columns{
      p{
        color: #000;
      }
    }
}

@media #{$large-up} {
.large-12.columns.landing-pages {
    padding-left: 150px;
    padding-right: 150px;
}
.section-land article aside h2 {
    font-size: 1.875rem;
}.section-land .asidetxt-out .asidetxt-in aside p {
    font-size: 24px;
  }
  .section-land article .icon-flag {
    width: 104px;
  }
  .section-land article aside h3 {
    font-size: 1.225rem;
  }
  .section-land article aside p {
    font-size: 16px;
  }
}
.section-col.col-lv2 {
p {
  font-size: $base-font-size;
}
ul{
  font-size: $base-font-size;
  list-style: disc;
  padding-left: rem-calc(35px);
  padding-right: rem-calc(35px);
  margin-bottom: rem-calc(33px);
}
li{
  font-size: $base-font-size;
      list-style: disc;
    padding-bottom: 5px;
}

}

.banner-innerout aside p {
    font-size: $base-font-size;
}

        table {
        background: #FFFFFF;
        border-spacing: 0;
        border:none;
        margin-bottom: 1.25rem;
        table-layout: auto;
        width: 100%;
        thead{
        background: #41413e;
        th {
          color: $white;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 24px;
        font-weight: bold;
        padding-left: 20px;
        border-right: 1px solid white;
        &:last-child{
              border-right: none;
        }
        }
        tbody tr td{
        display: table-cell;
        line-height: 1.125rem;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border-right: 1px solid #F9F9F9;
        border-bottom: 1px solid #F9F9F9;
        h2{
          font-size: 1.8rem;
        }
        &:first-child{
          font-size: 24px;
        }
    }
     tr td{
       display: table-cell;
       line-height: 1.125rem;
       padding-top: 20px;
       padding-bottom: 20px;
       padding-left: 20px;
       padding-right: 20px;
       border-right: 1px solid #F9F9F9;
       border-bottom: 1px solid #F9F9F9;

     }
        }
    }
        table tr.even, table tr.alt, table tr:nth-of-type(even) {
        background: $white !important;
    }
td {
    font-size: 18px;
    font-weight: normal;
    line-height: 36px;
    border: #d7d7d7;
    border-width: thin;
    border-style: solid;
    border-width: thin;
    padding: 1.5rem !important;
     &:first-child {
      font-size: 18px;
      font-weight: bolder;
      line-height: 36px;
  }
}

.section-col.col-three.grey.single.product{
    img{
      border-radius: 5px;
    }
    p {
      font-size: $base-font-size;
    }
    ul{
      font-size: $base-font-size;
      list-style: disc;
      padding-left: rem-calc(35px);
      padding-right: rem-calc(35px);
          margin-bottom: rem-calc(33px);
    }
    li{
      font-size: $base-font-size;
          list-style: disc;
        padding-bottom: 5px;
    }
}


.header-main .logo {
    width: 267px !important;
}


@media #{$medium-only} {
  .blog .grid-item{
    width: 100%;
  }
  }
@media #{$small-only} {
.cd-timeline-content h1.timeline-heading {
  font-size: 2.5em !important;
}
.cd-timeline-inner-content h1 {
    font-size: 1.2rem !important;
}
.cd-timeline-content h2 {
    font-size: 1.2rem;
}
.cd-timeline-content.header > img.text-center {
    width: 60%;
}
.banner-txt article .cont-txt ul {
    display: none;
}
.blog .grid-item {
    width: 318px;
}
.blog .grid-item:first-child {
    margin-top: -1.5rem;
}
.banner-txt article .cont-txt {
    width: 380px;
    position: absolute;
    top: -250px;
    right: 35px;
    max-width: 250px;
}
.banner-main .banner-info-bg {
    width: 100%;
    float: left;
    position: absolute;
    bottom: -35px;
    left: 0;
    }
    ol.flex-control-nav.flex-control-paging {
    display: none;
}
.overlay-new .overlay-close {
    text-indent: 300%;
}
}

a#languages-button {
    color: #14B4D4;
    margin-top: 5px;
    background-color: $white;
}

ul.email > a {
    color: #fff;
}
.single-blog{
  padding-left: 20px;
    padding-right: 20px;
}


